h1 {
  color : #061388;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;

}

p {
  color :rgb(12, 10, 10);
  text-align: center;
  font-size: x-large;
}
  
img{
  border-radius:25px;
  padding:auto;

}
hr {
  border color :black;
  width: 10%;
}

body {
  background-image: url("pro.jpg");
  background-repeat: repeat-y  ;
  background-size: auto;
  padding: 20px;
  align-content: center;
  border-radius: 25px;
  
    
  
}

 li:before {

  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: large;
  
}

li{
  font-size: larger;
  
}

h2 { 
  color: red;
font-weight: bold;
font-size:first-line;
}

td{
  font-size: larger;
}




a:visited {
  color:green;
}


a:hover {
  color: orangered;
}


a:active {
  color: blue;
}
