h1 {
  color : #061388;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;

}

p {
  color :rgb(12, 10, 10);
  text-align: center;
  font-size: larger;
}
  
img{
  border-radius:25px;
  padding:auto;

}
hr {
  border-color: 5px  #da0808e7;
  width: 20%;
  margin: auto;
}


body {
  background-image: url("pro.jpg");
  background-repeat: repeat-y  ;
  background-size: auto;
  padding: 20px;
  align-content: center;
  border-radius: 25px;
  
    
  
}

 li:before {

  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 1.500em; /* 14px/16=0.875em */
  
}

li{
  font-size: medium;
  
}

h2 { color: rgb(135 10 137);
* font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-size::first-line
}